* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header {
    background-color: #6638e6;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
}